article.press {
  @include clearfix;
  padding: 7.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &:first-child {
    padding-top: 0;
  }
  .image {
    @include media($desktop) {
      @include span-columns(5);
    }
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .infos {

    @include media($desktop) {
      @include span-columns(7);
      padding-left: 5rem;
    }
    @include media($mobile) {
      @include span-columns(12);
      padding-top: 5rem;
    }
  }
  h4 {
    font-family: $base-font;
    font-weight: 400;
    @include font(2, 1.5);
    margin-top: 1rem;
  }
  .date {
    font-size: 1.4rem;
    color: $dark;
    font-weight: 200;
    font-style:italic;
  }
}
