
  .arrow {
    @include size(5rem);

    background-color: $golden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.8rem 1.75rem;

    position: absolute;
    z-index: 999;
    top: 50%; margin-top: -2.5rem;

    @include transition(all 0.5s $ease-out-back);
    &:hover {
      @include transition(all 0.5s $ease-out-back);
      @include transform(translateY(-2px));
    }
    &.arrow-right {
      background-image: url('../images/asset-caret-right.svg');
      right: -2.5rem;
    }
    &.arrow-left {
      background-image: url('../images/asset-caret-left.svg');
      left: -2.5rem;
    }
  }

  section.photoshoots {
  width: 100%;
  position: relative;
  @extend .fill-remainder;
  padding: 10rem 0;
  overflow: visible !important;
  @include clearfix;

  .infos, .image {
    @include media($desktop) {
      @include span-columns(6);
    }
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  img {
    min-width: 0 !important;
  }

  .infos {
    text-align: right;
    padding-left: 5rem;
    @include media($desktop) {
      position: absolute;top: 50%;
      @include transform(translateY(-50%));
      right: 0;
    }
    @include media($mobile) {
      margin-top: 4rem;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 4.5rem;
    }
  }
}

article.press {
  @include clearfix;
  padding: 7.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &:first-of-type {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .image {
    @include media($desktop) {
      @include span-columns(5);
    }
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .infos {

    @include media($desktop) {
      @include span-columns(7);
      padding-left: 5rem;
    }
    @include media($mobile) {
      @include span-columns(12);
      padding-top: 5rem;
    }
  }
  h4 {
    font-family: $base-font;
    font-weight: 400;
    @include font(2, 1.5);
    margin-top: 1rem;
  }
  .date {
    font-size: 1.4rem;
    color: $dark;
    font-weight: 200;
    font-style:italic;
  }
}
