.social-feed {
	.instagram-elt {
		position: relative;
		float: left;
		width: 33.3333%;
		color: grey;
		font-size: 35px;

		&.explore {
			//display: inline;
			background-color: #fff;
			font-size: 40px;
			color: #000000;
			text-align: center;

			img {
				min-width: 1px;
				display: block;
				margin: 0 auto;
				margin-top: 50px;
				width: 23px;
				height: 13px;
			}
		}

		&.image {
			z-index: 3;
			overflow: hidden;

			.instagram-image {
				display: block;
				position: absolute;
				top: -30%;
				left: -30%;
				min-width: 1px;
				max-width: 200%;
				width: 160%;
				height: auto;
				z-index: 2;
			}

			.go-to-instagram {
				position: absolute;
				width: 30%;
				height: 30%;
				left: 35%;
				top: 35%;
				z-index: 3;
				min-width: 1px!important;
				opacity: 0;
				cursor: pointer;
				transition: 0.2s;
			}
		}

		&.active {
			.go-to-instagram {
				opacity: 1;
			}
		}

		&.text {
			z-index: 4;
			background-color: #fff;

			img {
				min-width: 1px;
			}

			.inner {
				padding: 14%;
				padding-top: 19%;

				.like {
					img {
						display: block;
						float: left;
						width: 22px;
						height: auto;
					}

					.like-image {
						display: block;
					}

					.like-image-hover {
						display: none;
					}

					.nb-like {
						float: left;
						color: #000000;
						font-size: 29px;
						margin-left: 15px;
						line-height: 25px;
					}
				}

				.liseret {
					display: block;
					margin-top: 20px;
					margin-bottom: 25px;
					width: 25px;
					height: 1px;
					background-color: #b5b5b5;
				}

				.caption {
					font-size: 15px;
					color: #b5b5b5;

					.hashtag {
						color: #000000;
					}
				}
			}

			.arrow-text {
				position: absolute;
			}

			.arrow-bg {
				position: absolute;
			}

			.arrow-text-normal {
				display: block;
			}

			.arrow-text-hover {
				display: none;
			}

			&.first {
				.arrow-text {
					left: -12px;
					top: 50%;
					margin-top: -4px;
					width: 14px;
					height: auto;
					z-index: 6;
				}

				.arrow-bg {
					left: -5px;
					top: 0;
					height: 100%;
					width: 5px;
					z-index: 5;
				}
			}

			&.img-left {
				.arrow-text {
					left: -12px;
					top: 50%;
					margin-top: -4px;
					width: 14px;
					height: auto;
					z-index: 6;
				}

				.arrow-bg {
					left: -5px;
					top: 0;
					height: 100%;
					width: 5px;
					z-index: 5;
				}
			}

			&.img-right {
				.arrow-text {
					right: -12px;
					top: 50%;
					margin-top: -4px;
					width: 14px;
					height: auto;
					z-index: 6;

				}

				.arrow-bg {
					right: -5px;
					top: 0;
					height: 100%;
					width: 5px;
					z-index: 5;
				}
			}

			&.img-top {
				.arrow-text {
					top: -12px;
					left: 50%;
					margin-left: -4px;
					height: 14px;
					width: auto;
					z-index: 6;
				}

				.arrow-bg {
					top: -5px;
					left: 0;
					height: 5px;
					width: 100%;
					z-index: 5;
				}
			}

			&.active {
				background-color: #293443;

				.inner {
					padding: 14%;
					padding-top: 19%;

					.like {

						.like-image {
							display: none;
						}

						.like-image-hover {
							display: block;
						}

						.nb-like {
							color: #d1ba76;
						}
					}

					.caption {

						.hashtag {
							color: #d1ba76;
						}
					}
				}

				.arrow-text-normal {
					display: none;
				}

				.arrow-text-hover {
					display: block;
				}
			}
		}		
	}
}

.vertical_align {
    display: table;
    width: 100%;
    height: 100%;
}

.vertical_align_inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.clear {
    clear: both;
}

@media (max-width: 1320px) {
	.social-feed {
		.instagram-elt {

			&.explore {
				font-size: 35px;

				img {
					margin-top: 35px;
				}
			}

			&.text {
				.inner {
					padding: 14%;
					padding-top: 19%;

					.like {
						img {
							display: block;
							float: left;
							width: 22px;
							height: auto;
						}

						.nb-like {
							float: left;
							color: #000000;
							font-size: 22px;
							margin-left: 11px;
							line-height: 19px;
						}
					}

					.liseret {
						margin-top: 18px;
						margin-bottom: 21px;
					}

					.caption {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.social-feed {
		.instagram-elt {

			&.explore {
				font-size: 28px;

				img {
					margin-top: 27px;
				}
			}

			&.text {
				.inner {
					padding: 14%;
					padding-top: 19%;

					.like {
						img {
							display: block;
							float: left;
							width: 19px;
							height: auto;
						}

						.nb-like {
							float: left;
							color: #000000;
							font-size: 19px;
							margin-left: 9px;
							line-height: 17px;
						}
					}

					.liseret {
						margin-top: 14px;
						margin-bottom: 16px;
					}

					.caption {
						font-size: 11px;
					}
				}
			}
		}
	}
}