#content.villas.feed {
  .landing {
    height: 9.7rem;
    top: 7.4rem;
    margin-bottom: 5rem;
    .half {
      width: 50%;
      display:block;
      float: left;
      height: 9.7rem;
      position: absolute;
      z-index: -1;
      top: 0;
      background-color: black;
      &:last-child {
        right: 0;
      }
      img {
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
    }
    .container {
      height: 9.7rem;
      position: relative;
      a {text-decoration: none;}
      h2 {
        width: 100%;
        font-size: 2.5rem;
        color: white;
        line-height: 9.7rem;

        margin: 0;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
      p {
        font-family: $title-font;
        color: $golden;
        font-size: 1.6rem;

        position: absolute;
        z-index: 99;
        line-height: 9.7rem;
        opacity: 0.5;
      }
      h2.active + p {
        opacity: 1;
      }
      .six {
        position: relative;
        p {
          top: 0.3rem;
          right: 3rem;
          margin: 0;
        }
        &:last-child {
          h2{padding-left: 5rem;}
        }
      }
    }
  }
  article.room {
    @extend .fill-remainder;
    margin-bottom: 5rem;
    ul {
      padding: 0 !important;
    }
    .images {

    }
    .infos {
      padding-left: 5rem;
      position: relative;
      .price-range {
        position: absolute;
        right: 3rem; top: 2rem;

        font-size:1.6rem;
        font-weight: 500;
      }
      h2 {
        margin-top: 0.5rem;
        margin-bottom: 4.5rem;
      }
      ul.slider-nav {
        list-style: none;
        margin: 5rem 0;
        li {
          margin-right: 0.5rem;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.toTop {
  @include size(100% 30rem);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 9;

  p {
    position: absolute;
    z-index: 9;
    margin: 0;
    top: 50%;
    margin-top: -0.8rem;
    width: 100%;

    @include font(1.6, 1);
    color: white; text-align: center;
    font-family: $title-font;

    cursor: pointer;
  }
  > img {
    @include size(auto);
    object-fit: cover;
    z-index: 5;
  }
}
