.date-picker {
  @include size(65rem 10rem);
  margin: 14rem auto 0;
  box-shadow: 0px 5px 50px rgba(0,0,0,0.25);

  .checkin, .checkout, .guests {
    @include size(14.4rem 10rem);
    background-color: white;
    border-right: 1px solid $hr-color;

    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    box-sizing: content-box;
    cursor: pointer;
    @include transition(all 0.25s ease);

    p.datepicker-date-selected {
      position: absolute;
      margin: 0;
      left: 3rem; bottom: 3rem;

      font-size: 4.8rem;
      color: $dark;
      font-family: $title-font;
    }
    p.datepicker-month {
      position: absolute;
      margin: 0;
      @include size(auto 1.8rem);
      bottom: 3rem; left: 56%;
      overflow: hidden;

      line-height: 1;
      color: #2c2c2c;
      font-family: $title-font;
    }

    &:before {
      content: " ";
      font-size: 1.8rem;
      font-style: italic;
      font-family: $title-font;
      color: #cacaca;

      position: absolute;
      left: 3rem; top: 3.5rem;
      @include transition(all 0.25s ease);
    }
    &:after {
      content: " ";
      background: url('../images/asset-caret-down-brown.svg') no-repeat center center;
      background-size: 0.75rem;

      @include size(0.75rem 0.45rem);
      position: absolute;
      bottom: 4.8rem;
      @include transition(all 0.25s ease);
    }
  }
  .checkin {
    &:before {content: "Check in";}
    &:after {right: 3rem;}
  }
  .checkout {
    &:before {content: "Check out";}
    &:after {right: 2rem;}
  }
  .guests {
    select {
      @include size(46% 100%);
      @include appearance(none);
      border:none;
      outline:none;
      border-radius: 0;
      background: transparent;

      color: $dark;
      font-family: $title-font;
      padding-left: 8rem;
      font-size: 4.8rem;
      option:not(:checked) {
        font-size: 1.2rem;
      }
      &:focus {
        outline:none;
      }

      option[selected=selected] {
      }
    }
    &:before {content: "Guests";}
    &:after {right: 4.5rem;}
  }
  .submit {
    width: calc(65rem - 14.5rem - 14.5rem - 14.5rem);
    height: 10rem;
    display: block;
    float: right;
    background-color: $golden;
    a {
      display: block;
      @include size(100%);
      line-height: 9rem;
      text-align: center;
      color: white;
      font-size: 2rem;
      font-family: $title-font;
      text-decoration: none;
    }
  }

  // Animation
  .checkin, .checkout, .guests {
    &.busy {
      &:before {
        font-size: 1.3rem;
        top: 2.4rem; left: 3rem;
      }
      &:after {
        right: 2.5rem; bottom: 3.5rem;
      }
    }
  }
}

.calendar-wrap {
  position: absolute;
  padding: 5rem 0 5rem 5rem;
  background-color: black;
  top: 0; margin-top: -16.5rem;
  left: 50%; margin-left: -35.9rem;
  z-index: 99;
  visibility: hidden; opacity: 0;
  @include transition(all 0.35s ease);
  &.open {
    margin-top: -11.5rem;
    opacity: 1;
    visibility: visible;
  }
  > div p {
    margin: 0 0 2rem;
    width: 100%;
    font-family: $title-font;
    font-size:1.6rem;
    font-style: italic;
    padding-right: 5rem;
    letter-spacing: .1rem;
  }
  .hasDatepicker {
    @include span-columns(6);

  }
  .ui-datepicker {
    $font-size: 1.2rem;
    margin-right: 5rem;

    .ui-datepicker-header {
      position: relative;
      .ui-datepicker-prev,
      .ui-datepicker-next {
        @include size(0.85rem 1.25rem);
        position: absolute;
        text-indent: -99999px;
        cursor: pointer;
      }
      .ui-datepicker-prev {
        left: 0;
        background: url('../images/asset-caret-left.svg') no-repeat center center;
        background-size: 0.85rem;
      }
      .ui-datepicker-next {
        right: 0;
        background: url('../images/asset-caret-right.svg') no-repeat center center;
        background-size: 0.85rem;
      }
      .ui-datepicker-title {
        font-family: $title-font;
        font-style: italic;
        color: $golden;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.5rem;
        margin: 0 0 2.5rem;
      }
    }
    table.ui-datepicker-calendar {
      thead {
        tr {
          th {
            span {
              display: block;
              width: 100%;
              text-align:center;
              font-size: $font-size;
              font-family: $title-font;
              text-decoration: none;
            }
            // &.ui-datepicker-week-end {}
          }
        }
      }
      tbody {
        tr {
          line-height: 3rem;
          height: 3rem;
          td {
            width: 4rem;
            height: 1.75rem;
            padding: 0 .5rem;

            span, a {
              @include size(100%);
              display: block;
              text-align:center;
              font-size: $font-size;
              font-family: $title-font;
              text-decoration: none;
              line-height:2;
              color:#cacaca;
            }


            &.ui-datepicker-other-month {
              span {
                color:#646464;
              }
            }
            &.ui-datepicker-unselectable { /* like past days in current month */
              cursor: not-allowed;
              span {
                color:#646464;
              }
            }
            &.ui-datepicker-today {
              a {text-decoration: underline;}
            }

            a {
              &.ui-state-default { }
              &.ui-state-active {
                background-color: $golden;
                color:white;
              }
            }
          }
        }
      }
    }
  }
}
