$position: absolute;

header {
  padding-top: 4rem;
  position: $position;
  z-index: 99;
  width: 100%;
  top:0;


  a.logo {
    display: inline-block;
    float: left;

    color: white;
    @include font(1.8, 1.4);
    font-family: $title-font;
    font-style: italic;
    text-decoration: none;
  }

  nav {
    display: inline-block;
    float: right;
    ul {
      list-style: none;
      padding: 0; margin: 0;
      li {
        display: inline-block;
        margin-right: 4rem;
        a {
          display: block;

          @include font(1.4, 1.4);
          color:white;
          text-decoration: none;
        }
        &:last-child {
          margin-right: 0;
          opacity: .6;
        }
      }
    }
  }
  &.white {
    position: fixed;
    top: -11.1rem;
    z-index: 9999;
    padding: 3rem 0;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    a.logo{color: $dark;}
    nav a {color: $dark;}
  }
  &.hide-desktop {
    position: fixed;
    top:0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);

    height: 11.1rem;
    line-height: 11.1rem;

    padding: 0 3rem;

    a.logo{
      font-size: 2.6rem;
      color: $dark;
      height: 100%;
      line-height: 11rem;
      letter-spacing: .2rem;
    }
    .hamburger {
      @include size(4rem);
      display: block;
      background: url('../images/asset-icon-hamburger.svg') no-repeat center center;
      background-size:3rem;
      margin-top: 3.5rem;
      float: right;
    }

    nav a {color: $dark;}
  }
}
.hide-desktop.menu {
  position: fixed;
  width: 100vw;
  height: calc(100% - 11.1rem);
  display: block;
  z-index: 9998;
  background: white;
  top: -100%;


  .close {
    width: 100%;
    text-align: center;
    background: $golden;

    position: absolute;
    bottom:0;

    font-size: 2.1rem;
    text-decoration: none;
    line-height: 11.1rem;
    font-family: $base-font;
    color: white;
    letter-spacing: .2rem;
    text-transform: capitalize;

  }
  nav {
    height: 100%;
    overflow: scroll;
    ul {
      padding: 0;margin: 0;
      li {
        width: 100%;
        text-align: center;
        &.active {
          background: #000;
          a {
            color: white;
          }
        }
        a {
          @include size(100%);
          display: block;
          font-size: 2.1rem;
          text-decoration: none;
          line-height: 11.1rem;
          font-family: $base-font;
          color: #8d8d8d;
          letter-spacing: .2rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
footer {
  @include clearfix;
  height: 7rem;
  div {
    height: 7rem;
    > p {
      @include font(1.3, 7);
      font-family: $title-font;
      font-style: italic;
      color: $dark;

      margin-top: 0;
      margin-bottom: 0;
      @include media($mobile) {
        line-height: 1.2;
        width: 60% !important;
        padding-top: 2.5rem;
      }
    }
    ul {
      list-style: none;
      float: right;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 2rem;
        a {
          display: inline-block;
          line-height: 7rem;
          img {
            @include size(1.4rem);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
