
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.eot');
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Medium.woff') format('woff'),
		url('../fonts/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-MediumItalic.eot');
	src: url('../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-MediumItalic.woff') format('woff'),
		url('../fonts/Lato-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Italic.eot');
	src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
